@(contactForm: Form[Contact])(implicit messages: play.api.i18n.Messages)

@import html5.tags.html._

@main("Form test") {

     @form(routes.Application.save()) {
	    @text(contactForm("name"), '_label -> "Name : ", 'toto -> "titi")
	    @text(contactForm("email"), '_label -> "Email : ")
	    @text(contactForm("age"), '_label -> "Age : ")
	    @select(
            contactForm("gender"),
            options(
                "" -> "",
                "m" -> "Male",
                "f" -> "Female"
            ),
            '_label -> "Gender"
        )
	    @password(contactForm("password"), '_label -> "Password : ")
        @file(contactForm("inputFile"), '_label -> "Upload : ")
	    @textarea(contactForm("comments"), '_label -> "Comments : ")
	    <input type="submit" value="OK">
    }

}
